<% layout("layouts/boilerplate") %>
<body>
    <h1>this are all listings</h1>
    <form action="/listings/new",method="GET">
        <button>create new listing</button>
    </form>
   <ul>
  <% allListings.forEach(listing => { %>
    <li>
      <a href="/listings/<%= listing._id %>"><%= listing.title %></a> - ₹<%= listing.price %>
    </li>
  <% }) %>
</ul>

</body>
